---
layout: default
title: Circum
---
<div class="container">
	<h1 class="h1-responsive text-center my-5">Smarter money for the network economy</h1>
	{% include blocks/smarter-money.html %}

	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/3aQ7/6WV" width="100%" height="242" class="mt-5 mx-auto col-12 col-lg-8 d-flex"></iframe>
</div>
	
<div class="row text-center white-text pt-3 pb-5 mt-5" style="background-color: #4FA88F;">
	<div class="container">
		<h2 class="h2-responsive mt-5 mb-3">Features</h2>
		{% include blocks/features.html %}
	</div>
</div>

<div class="container">
	<h2 class="h2-responsive mt-5 mb-4">The Problem</h2>
	{% include blocks/the-problem.html %}
	
	<blockquote class="blockquote bq-primary text-primary my-5">
		<h4 class="display-4">connecting billions of points of commerce through community</h4>
	</blockquote>

	<h2 class="h2-responsive mt-5 mb-4">The Solution</h2>
	{% include blocks/the-solution.html %}

	<h2 class="h2-responsive mt-5 mb-4">Timeline</h2>
	<a href="/assets/img/roadmap.png"><img src="/assets/img/roadmap.png" class="img-fluid img-thumbnail" /></a>

	<h2 class="h2-responsive mt-5 mb-4">The Team</h2>
	{% include blocks/the-team.html %}
</div>
