<div class="row">
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/zero.png" class="img-fluid p-3" />
		ZERO to low merchant fees
	</div>
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/exclusive.png" class="img-fluid p-3" />
		Exclusive deals and offers post payment
	</div>
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/safe.png" class="img-fluid p-3" />
		Safe, secure and free for consumers
	</div>
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/reward.png" class="img-fluid p-3" />
		Reward for positive participation
	</div>
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/transact.png" class="img-fluid p-3" />
		Transact with multiple types of value
	</div>
	<div class="col-6 col-md-4 col-lg-2 p-4">
		<img src="/assets/img/icons/earn.png" class="img-fluid p-3" />
		Earn crypto rewards on each purchase
	</div>
</div>
