<div class="row mt-5 text-center">
	{% for person in site.data.team %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
			<div class="card card-cascade wider w-100 grey lighten-4">
				<div class="view overlay white p-5">
					<img src="/assets/img/profiles/{{ person.image }}" class="img-fluid m-auto">
				</div>
				<div class="card-body pt-3 pb-1">
					<h4 class="title">{{ person.name }}</h4>
					{% if person.title %}
						<p>
							{{ person.title }}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>